<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HandOut</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
	  <div class="container">
	    <div class="col-md-4">
	      <img src="http://placehold.it/350x150" alt="" />
	      <h2>Lorem Ipsum</h2>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	    </div>
	    <div class="col-md-4">
	      <img src="http://placehold.it/350x150" alt="" />
	      <h2>Lorem Ipsum</h2>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>

	    </div>
	    <div class="col-md-4">
	      <img src="http://placehold.it/350x150" alt="" />
	      <h2>Lorem Ipsum</h2>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	    </div>
	  </div>
	</header>

	<footer>
	  <div class="container">
	    <div class="col-md-4">
	      <img src="http://placehold.it/350x150" alt="" />
	      <h2>Lorem Ipsum</h2>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	    </div>
	    <div class="col-md-4">
	      <img src="http://placehold.it/350x150" alt="" />
	      <h2>Lorem Ipsum</h2>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	    </div>
	    <div class="col-md-4">
	      <img src="http://placehold.it/350x150" alt="" />
	      <h2>Lorem Ipsum</h2>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	      <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	    </div>
	  </div>
	</footer>

	<div class="container">
	  <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	  <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	  <p>Proin eu libero tortor. Nulla facilisi. Nam posuere nulla non pharetra vehicula. Ut in nibh rhoncus, facilisis sem vel, tincidunt ex. In dapibus ligula id rutrum sodales.</p>
	</div>
</body>
</html>