<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HandOut</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

      <div class="jumbotron">
        <img src="/static/image/logo.png" height="282" width="282" />
        
        <p class="btnstyle"><a class="btn btn-lg btn-success" href="#" role="button">Join</a></p>
        <p class="btnstyle"><a class="btn btn-lg btn-success" href="#" role="button">New</a></p>
      </div>


      <footer class="footer">
        <p>&copy; HandOut Team 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>