{% extends "base.html" %}

{% block head %}
<!-- TODO head-->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/submitpresent.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style type="text/css">
  html, body { height: 100%; margin: 0; padding: 0; }
  #map { height: 50%; width: 30%}
</style>

{% end %}

{% block body %}

<div class="container" style="height:100%; width:100%;">

  <header class="uploadfile">
  <h1 class="headstyle"><span class="em-word">U</span>pload <span class="em-word">F</span>ile</h1>
  </header>

  <form method=post enctype='multipart/form-data' action='/present/submit/{{ present_id }}'>

  {% module xsrf_form_html() %}

  <div class="input-group">
  
  <input type='file' name='presentation'></input>

  <input style="width:400px; height:40px;" type="text" class="form-control" aria-describedby="basic-addon1" name='title' placeholder='Presentation Title(Option)' value='{{ title }}'/><br>
  <input style="width:400px; height:40px;" type="text" class="form-control" aria-describedby="basic-addon1" name='owner' placeholder='Owner(Option)' value='{{ owner }}'/><br>
  <input type='text' name='lat' id='lat' value='0' hidden="true"></input>
  <input type='text' name='lng' id='lng' value='0' hidden="true"></input>
  </div>

  <div style="width=100%; height:100%;">
  <h2 class="headstyle"><span class="em-word">P</span>redicted <span class="em-word">L</span>ocation</h2>

  <div id="map" style="width:700px; height:350px;"></div>
  <input type='submit' value=''/><br>
  </div>

  </form>
</div>

<script src='/static/js/submitpresent.js'></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAJWANy1vD0TcPFB0X5bX3Vi4Qyi4bYPw&callback=initMap" >
</script>

{% end %}
