{% extends "base.html" %}

{% block head %}
<!-- TODO head-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/viewpresent.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% end %}

{% block body %}
<div class="container">
<header><h1>{{title}}</h1></header>
<h3>Owner: {{owner}}</h3>

<iframe src = "/static/js/ViewerJS/index.html#{{file_path}}.odp" width='800' height='600' allowfullscreen webkitallowfullscreen></iframe>

<p>File path: {{file_path}}</p>
</div>
{% end %}
